<!-- 

    É a sintaxe no ejs para leitura de variáveis.

    Exemplo: 

    <%= variavel %>

 -->
<h1><%= titulo %></h1>

<!--
    
    Nota: Em caso de objetos, podemo consultar a parti o operador . (ponto). 

    Exemplo:

    const produto = {
        id: 1,
        nome: "morango"
    }

    <%= produto.id %>
    <%= produto.nome %>
-->
<p><%= produto.id %></p>
<p><%= produto.nome %></p>